*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins Bold;
    src: url(./fonts/Poppins-Bold.otf);
}
@font-face {
    font-family: Futura;
    src: url(./fonts/Futura\ Heavy\ font.ttf);
}
